@charset "utf-8";
.mark {
    color: #FF0000
}

table tr td {
    font-size: 12px;
    font-family: "微软雅黑";
    color: #333333;
}

#tr_title td {
    font-size: 12px;
    font-family: "微软雅黑";
    color: #996600;
}

.table_list td {
    color: #333333;
    font-size: 12px;
    font-family: "微软雅黑"
}

#tr_title {
    background-color: #D5BF98;
}

#tr_color {
    background-color: #FAEAA9;
}

.input_text {
    width: 120px;
    height: 13px;
}

.input_text_s {
    width: 80px;
    height: 13px;
}

#iframe_main {
    width: 490px;
    height: 1000px;
    padding-left: 20px;
}

#div_main {
    width: 490px;
}

#div_center {
    width: 450px;
    height: 470px;
}

#div_bottom {
    width: 450px;
}

.button {
    font-size: 12px;
    font-family: "微软雅黑";
    background: url(../images/button.gif);
    border: 0px;
    width: 45px;
    height: 20px;
}

.lbutton {
    font-size: 12px;
    font-family: "微软雅黑";
    background: url(../images/button.gif);
    border: 0px;
    width: 100px;
    height: 20px;
}

.p_top {
    font-size: 15px;
    font-family: "微软雅黑";
    color: #333333;
    font-weight: bold;
    margin-left: 10px;
}

.span_title {
    font-size: 15px;
    font-family: "微软雅黑";
    color: #ad8634;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
}

.span_text {
    font-size: 13px;
    font-family: "微软雅黑";
    color: #333333;
    text-align: left;
    margin-left: 5px;
}

.span_content {
    font-size: 12px;
    font-family: "微软雅黑";
    color: #333333;
}

.span_table {
    font-size: 12px;
    font-family: "微软雅黑";
    color: #996600;
}

.a_top {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #999999;
}

.date_text {
    width: 40px;
    height: 13px;
}