<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="../js/sdmenu.js" type="text/javascript"></script>
    <script src="../js/moveto.js" type="text/javascript"></script>
    <link href="../css/css.css" rel="stylesheet" type="text/css"/>
    <link href="../css/menu.css" rel="stylesheet" type="text/css"/>

    <title>人事资源管理系统</title>
    <script type="text/javascript">
        var myMenu;
        window.onload = function () {
            myMenu = new SDMenu("my_menu");
            myMenu.init();
            myMenu.collapseAll();

        };

    </script>
</head>

<body bgcolor="#333333">
<table id="table_1" width="740" align="center" background="../images/bg.jpg" border="0" cellpadding="40">
    <tr>
        <td>
            <table id="table_2" width="700" align="center" bgcolor="#FFFFFF" border="0">
                <tr>
                    <td colspan="2" align="right">
                        <a class="a_top" href="login.html">首页</a>&nbsp;
                        <a class="a_top" href="#">退出</a>&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="index.html"><img src="../images/top.png" width="700"/></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" align="center">
                        <div id="my_menu" class="sdmenu">
                            <div>
                                <span>部门管理</span>
                                <label onclick="moveto_sa()"><a href="#">新建部门</a></label>
                                <label onclick="moveto_sm()"><a href="#">修改部门</a></label>
                                <label onclick="moveto_sd()"><a href="#">删除部门</a></label>
                                <label onclick="moveto_ss()"><a href="#">查询部门下员工</a></label>
                            </div>
                            <div>
                                <span>岗位管理</span>
                                <label onclick="moveto_pa()"><a href="#">增加岗位</a></label>
                                <label onclick="moveto_pm()"><a href="#">修改岗位</a></label>
                                <label onclick="moveto_pd()"><a href="#">删除岗位</a></label>
                                <label onclick="moveto_ps()"><a href="#">查询岗位下员工</a></label>
                            </div>
                            <div>
                                <span>人员入职管理</span>
                                <label onclick="moveto_de()"><a href="#">人才库入职</a></label>
                                <label onclick="moveto_ne()"><a href="#">普通入职</a></label>
                            </div>
                            <div>
                                <span>试用期管理</span>
                                <label onclick="moveto_tm()"><a href="#">试用期管理</a></label>
                                <label onclick="moveto_ts()"><a href="#">查询已转正员工</a></label>
                            </div>
                            <div>
                                <span>部门调动管理</span>
                                <label onclick="moveto_smove()"> <a href="#">员工部门调动</a></label>
                                <label onclick="moveto_sms()"><a href="#">查询已调动部门员工</a> </label>
                            </div>
                            <div>
                                <span>岗位调动管理</span>
                                <label onclick="moveto_pmove()"><a href="#">员工岗位调动</a></label>
                                <label onclick="moveto_pms()"><a href="#">查询已调动岗位员工</a></label>
                            </div>
                            <div>
                                <span>员工离职管理</span>
                                <label onclick="moveto_l()"><a href="#" id="a_leave">员工离职办理</a></label>
                                <label onclick="moveto_ls()"> <a href="#">查询已离职员工</a> </label>
                            </div>
                            <div>
                                <span>员工信息中心</span>
                                <label onclick="moveto_im()"><a href="#">修改员工信息</a></label>
                                <label onclick="moveto_is()"><a href="#">查询员工信息</a></label>
                            </div>
                            <div>
                                <span>报表管理</span>
                                <label onclick="moveto_cn()"><a href="#">新聘员工报表</a></label>
                                <label onclick="moveto_cl()"><a href="#">离职员工报表</a></label>
                                <label onclick="moveto_cs()"><a href="#">部门调动员工报表</a></label>
                                <label onclick="moveto_cp()"><a href="#">岗位调动员工报表</a></label>
                            </div>
                        </div><!--for my menu-->
                    </td>
                    <td rowspan="2">
                        <div id="div_main">
                            <iframe id="iframe_main" frameborder="0" src="http://127.0.0.1:8080/menu/iframe"></iframe>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <hr/>
                        <p class="p_top" align="left">联系方式：</p>
                        <span class="span_text">电话：</span><br/>
                        <span class="span_text">地址：</span><br/>
                        <span class="span_text">E-mail：</span>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr color="#CCCCCC" size="5">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <font color="#999999" size="2" face="微软雅黑">Copyright:南京晓庄学院JAVA1班</font><br/><br/>
                    </td>
                </tr>
            </table><!--for table_2-->
        </td>
    </tr>
</table><!--for table_1-->
</body>
</html>

