<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../css/css.css" rel="stylesheet" type="text/css"/>
    <script src="../js/Calendar.js" type="text/javascript"></script>
    <script src="../js/jquery-1.4.4.min.js"></script>
    <script src="../js/iframe.js" type="text/javascript"></script>
    <script>
        var dateTemp;

        function toQuery() {
            $("#table_list  tr:not(:first)").empty();    //清空table
            $.ajax({
                type: 'post',
                url: '/position/queryPosition',
                contentType: 'application/json;charset=utf-8',
                data: '{"sno":"' + $("#sno").val() + '","sname":"' + $("#sname").val() + '","stype":"' + $("#choose_type").val() + '"}',    //向后台发送的数据
                success: function (data) {              //后台成功后返回的信息data
                    dateTemp = data;
                    //$.each循环， data是要被循环的数据集合。
                    //index循环计数器，从0开始，取一次+1
                    //取出的数据放在position里
                    var trc = $("#table_list");
                    var meg = "";
                    $.each(data, function (index, position) {
                        meg = "<td><input name='check' type='checkbox' value='" + position.sno + "'></td><td>"
                            + position.sno + "</td><td><a href='#' onclick='showBottom2(" + position.sno + ")'>" + position.sname
                            + "</a></td><td>" + position.stype + "</td><td>" + position.sbz + "</td>";
                        trc.append("<tr id='tr_color'>" + meg + "</tr>");
                    })

                },

            });
        }

        function showBottom2(sno) {
            document.getElementById("div_bottom").style.display = "";
            $.each(dateTemp, function (index, position) {
                if (sno == position.sno) {
                    $("#showsno").val(position.sno);
                    $("#showsname").val(position.sname);
                    $("#choose1_type").val(position.stype);
                    $("#showsbz").val(position.sbz);
                }
            });
        }
    </script>

    <title>修改岗位</title>
</head>

<body onload="toQuery()">
<span class="span_title">修改岗位：</span>
<hr/>
<span class="span_text">岗位查询：</span>
<form name="form_search" method="post">
    <span class="span_content">编号：</span>
    <input class="input_text_s" name="sno" id="sno" type="text"/>
    <span class="span_content">名称：</span>
    <input class="input_text_s" name="sname" id="sname" type="text"/>
    <span class="span_content">岗位类型：</span>
    <select id="choose_type" name="stype">
        <option value="" selected="selected">所有</option>
        <option value="管理">管理</option>
        <option value="技术">技术</option>
        <option value="销售">销售</option>
        <option value="市场">市场</option>
        <option value="其他">其他</option>
    </select>
    <input class="button" type="button" value="查询" onclick="toQuery()"/>
</form>
<hr/>


<div id="div_center">
    <span class="span_text">查询结果：</span><br/>
    <table id="table_list" class="table_list" width="450px" height="20px" border="0" align="center">

        <tr id="tr_title">
            <td width="25">&nbsp;</td>
            <td width="86"><span class="span_table">编号</span></td>
            <td width="95"><span class="span_table">名称</span></td>
            <td width="146"><span class="span_table">岗位类型</span></td>
            <td width="76"><span class="span_table">岗位编制</span></td>
        </tr>

        <!--<tr  id="tr_color">-->
        <!--<td><input name="" type="checkbox" value="" disabled="disabled"/></td>-->
        <!--<td>1</td>-->
        <!--<td><a href="#" onclick="showBottom()">1</a></td>-->
        <!--<td>1</td>-->
        <!--<td>1</td>-->
        <!--</tr>-->
    </table>

</div><!--div for div_center-->
<div id="div_bottom" style="display:none">
    <hr/>
    <form id="form_position" method="post" action="/position/updatePosition">
        <span class="span_text">岗位信息：</span>
        <br/>
        <table align="center" width="430px" border="0px">
            <tr>
                <td><span class="span_table">编号：</span><font class="mark">*</font></td>
                <td><input class="input_text" name="sno" id="showsno" type="text"/></td>
                <td><span class="span_table">名称：</span><font class="mark">*</font></td>
                <td><input class="input_text" name="sname" id="showsname" type="text"/></td>
            </tr>
            <tr>
                <td><span class="span_table">岗位类型：</span><font class="mark">*</font></td>
                <td><select id="choose1_type" name="stype">
                    <option value="管理">管理</option>
                    <option value="技术">技术</option>
                    <option value="销售">销售</option>
                    <option value="市场">市场</option>
                    <option value="其他">其他</option>
                </select></td>
                <td><span class="span_table">岗位编制：</span></td>
                <td><input class="input_text" name="sbz" id="showsbz" type="text"/></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input class="lbutton" type="submit" value="保存" onclick="return valid_p()"/></td>
            </tr>

        </table>
    </form>
</div>

</body>
</html>